.container{
    width: 1440px;
    height: 900px;
    top: -1538px;
    left: 1246px;
    gap: 0px;
    opacity: 0px;
    background: rgba(246, 246, 246, 1);
}
.text1{
    width: 906px;
    height: 136px;
    top: 96px;
    margin-left: 264px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 45px;
    font-weight: 600;
    line-height: 67.5px;
    text-align: center;
    color: rgba(101, 69, 31, 1);
}
.text2{
    width: 735px;
    height: 23px;
    top: 248px;
    margin-left: 350px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}
.Rectangle11{
    width: 592px;
    height: 126px;
    margin-top: 55px;
    margin-left: 109px;
    gap: 0px;
    border-radius: 12px 12px 12px 12px;
    opacity: 0px;
    background: linear-gradient(90deg, #65451F 0%, #CB8B3E 100%);
}
.elipse1{
    width: 104px;
    height: 91px;
    position: absolute;
    margin-top: 15px;
    margin-left: 30px;
    border-radius: 50%;
    gap: 0px;
    opacity: 0px;
    background: rgba(255, 255, 255, 1);
}
.imge{
    width: 52px;
    height: 36.29px;
    margin-top: 25px;
    margin-left: 30px;
    gap: 0px;
    opacity: 0px;
}
.text3{
    width: 430px;
    height: 63px;
    position: absolute;
    margin-top: 30px;
    margin-left: 150px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}
.Rectangle12{
    width: 592px;
    height: 126px;
    margin-top: -485px;
    margin-left: 739px;
    gap: 0px;
    border-radius: 12px 12px 12px 12px;
    opacity: 0px;
    background: linear-gradient(90deg, #65451F 0%, #CB8B3E 100%);
}
.Rectangle13{
    width: 598px;
    height: 126px;
    margin-top: 58px;
    margin-left: 739px;
    gap: 0px;
    border-radius: 12px 12px 12px 12px;
    opacity: 0px;
    background: linear-gradient(90deg, #65451F 0%, #CB8B3E 100%);
}
.Rectangle14{
    width: 598px;
    height: 126px;
    margin-top: 52px;
    margin-left: 739px;
    gap: 0px;
    border-radius: 12px 12px 12px 12px;
    opacity: 0px;
    background: linear-gradient(90deg, #65451F 0%, #CB8B3E 100%);
}
.text4{
width: 450px;
height: 63px;
position: absolute;
margin-top: 30px;
margin-left: 150px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 20px;
font-weight: 700;
line-height: 32px;
text-align: left;
color: rgba(255, 255, 255, 1);
}
.btn{
    width: 346px;
    height: 69px;
    margin-top: 50px;
    margin-left: 545px;
    gap: 0px;
    cursor: pointer;
    border-radius: 12px 12px 12px 12px;
    border: none;
    opacity: 0px;
    background: linear-gradient(90deg, #65451F 0%, #65451F 100%);
    box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 600;
    line-height: 29.3px;
    text-align: center;
}
.btn:hover{
    color: white;
    border-color: #65451F ;
}
